.container {
  width: 100%;

  .grid {
    display: grid;
    justify-content: center;

    div {
      height: 25px;
      margin-bottom: -1px;
    }

    .test {
      background-color: green;
      width: 25px;
      height: 25px;
    }
  }
}