.node {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 0.5px solid $node-border-color;
  margin-right: -1px;
  position: relative;

  &-finish {
    position: absolute;
    left: 1px;
    top: 1px;
    @include animation(
      node-finish,
      0.3,
      1.3,
      $duration: 1s,
      $bg-color-0: transparent,
      $border-radius: 0%
    );
  }

  &-start {
    position: absolute;
    left: 1px;
    top: 1px;
    @include animation(
      node-start,
      0.3,
      1.3,
      $duration: 1s,
      $bg-color-0: transparent,
      $border-radius: 0%
    );
  }

  &-visiting {
    background-color: $being-visited-node-color;
  }

  &-visited {
    @include animation(
      visited-node,
      0.3,
      1.2,
      1.5s,
      $visited-node-transition-0-color,
      $visited-node-transition-50-color,
      $visited-node-transition-75-color,
      $visited-node-color
    );
  }

  &-wall {
    @include animation(wall, 1, 1.2, 0.5s, $border-radius: 10%);
  }

  &-shortest-path {
    background-color: $path-color;
    @include animation(shortest-path, 1, 1.3, 1s, $bg-color-0: $path-color);
  }
}
