// **************************************************************
//                  Colors
// **************************************************************
$wall-color: #081216;
$header-background: purple;
$header-text: #ececec;
$button-background: magenta;
$button-focus: red;
$path-color: #28e721;
$visited-node-transition-0-color: #17186669;
$visited-node-transition-50-color: #d972119a;
$visited-node-transition-75-color: #d900cebf;
$visited-node-color: #596c9993;